body {
  font-family: "Open Sans",sans-serif;
  color: #666;
}
a {
  text-decoration: none;
}
.main-header {
  background-color: #2b3643;
  height: 46px;
  position: fixed;
  width: 100%;
  z-index: 200;
  justify-content: space-between;
}
.main-header__right {
  padding-right: 50px;
  color: #c6cfda;
}
.main-container {
  display: flex;
  position: absolute;
  margin-top: 46px;
  width: 100%;
}
.main-content {
  padding: 10px 20px;
}
.avatar {
  border-radius: 50%;
  padding: 10px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  color: #fff;
  padding: 4px 10px;
  padding-right: 20px;
  font-size: 13px;
  border-radius: 25px;
  position: relative;
}
.btn--blue {
  background-color: #32c5d2;
}
.scroll {
  overflow: auto;
  height: 300px;
}
.main-footer {
  position: fixed;
  bottom: 0;
  height: 33px;
  background-color: #364150;
  color: #98a6ba;
  width: 100%;
  font-size: 13px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.main-footer a {
  color: #337ab7;
}
/*Пункт 1.1*/
.main-header__left {
  width: 236px;
  justify-content: space-around;
}
/*Пункт 1.2*/
.main-header__notification {
  position: relative;
}
.hidden-menu {
  display: none;
  background: #eee;
  position: absolute;
  z-index: 100;
  top: 38px;
  right: 0;
  width: 273px;
}
.menu-item:hover .hidden-menu {
display: block;
}
.icon-note:hover + .hidden-menu {
  display: block;
}
.hidden-menu__avatar {
  border-radius: 50%;
  padding: 10px;
  padding-right: 5px;
  float: left;
}
.hidden-menu__top {
  background-color: #eaedf2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}
.hidden-menu__text {
  margin-left: 60px;
  margin-top: 0;
  font-size: 12px;
  line-height: 1.3;
  color: #888;
  border-bottom: 1px solid #EFF2F6;
}
.hidden-menu__message {
  color: #62878f;
  font-size: 13px;
}
.hidden-menu__view {
  color: #337ab7;
  font-size: 13px;
  font-weight: 300;
}
.icon-note {
  position: relative;
  margin-right: 30px;
}

/*Пункт 1.3*/
.main-header__hidden {
  display: none;
}
.main-header__avatar {
  padding-top: 5px;
}
.main-header__user-block {
  position: relative;
}
.main-header__avatar:hover + .main-header__hidden {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top:50px;
  right: 30px;
  width: 85px;
  background-color: #eee;
  padding: 10px;
  font-size: 13px;
}
.small {
  font-size: 14px;
  font-weight: 300;
}

/*Пункт 1.4*/
.search {
  padding-top: 30px;
  padding-left: 10px;
}
.search__button {
  background-color: #364150;
  border: none;
  border-bottom: 1px solid rgb(78, 92, 111);
  outline: none;
  width: 80%;
}


/*Пункт 1.5, 1.6*/
.sidebar {
  min-width: 200px;
  width: 250px;
  background-color: #364150;
}
.sidebar-features__list a {
  color: #b4bcc8;
  font-size: 14px;
}
.sidebar-features__list {
  padding: 0;
}
.sidebar-features__list li {
  list-style: none;
  padding: 5px 0;
}
.sidebar__item {
 color: #b4bcc8;
 font-size: 14px;
 display: block;
 cursor: pointer;
 padding: 10px;
}
.sidebar__item:hover {
  background: #2C3542;
}
.sidebar-heading {
  color: #708096;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  padding-left: 10px;
}
.drop-down {
  display: none;
  padding: 0;
}
.drop-down li {
  padding-left: 30px;
}
.dropdown-checkbox {
  display: none;
}
.dropdown-checkbox:checked + .drop-down {
  display: block;
}
.drop-down li:hover {
  background-color: #3e4b5c;
}

/*Пункт 1.7*/
.breadcrumbs__list {
  padding: 0;
  list-style: none;
  display: flex;
}
.breadcrumbs a {
  padding-right: 20px;
  color: #888;
  font-size: 14px;
}

/*Пункт 1.8*/
.main-content-title {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -1px;
  display: block;
}

/*Пункт 1.9*/
.dashboard {
  flex-wrap: wrap;
  justify-content: flex-start;
}
.dashboard-block {
  width: 230px;
  height: 122px;
  position: relative;
  margin-bottom: 30px;
  margin-right: 30px;
}
.dashboard-block--blue {
  background-color: #3598dc;
}
.dashboard-text {
  position: absolute;
  right: 15px;
  top:-13px;
}
.fa-comments {
  color: #FFF;
  opacity: .1;
  padding-top: 60px;
}


/*Пункты 2.10 - 5.15*/
.content {
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
}
.content-item {
  border: 1px solid #eef1f5;
  margin: 20px 0;
  width: 450px;
  margin-right: 60px;
}
.content-item__head {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #eef1f5;
}
.content-item__body {
  padding: 15px;
  position: relative;
}
.content-item__title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 18px;
  color: #2f353b;
}
.content-item__menu {
  color:#333;
  font-size: 13px;
}
.content-text {
  color: #838FA1;
  font-size: 14px;
}
.content-item__menu--active {
  border-bottom: 4px solid #36c6d3;
  padding: 18px 14px;
}

/*Пункт 5.14*/
.calendar {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  text-align: right;
}
.calendar th, .calendar td {
  border: 1px solid #ddd;
  padding: 5px 7px;
  vertical-align: top;
}
.table {
  font-size: 14px;
}
.table-row {
  position: relative;
  min-height: 31px;
}
.table-row-bg {
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
}
.events {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  position: relative;
}
.events td {
  padding: 5px 7px;
  padding-top: 25px;
}
.date {
  padding: 4px 9px 5px 4px;
  text-align: right;
  font-style: italic;
  color: #c1cbd0;
}
.table-date {
  display: block;
  color: #fff;
}
.table-date--yellow {
  background-color: #F8CB00;
}
.table-date--blue {
  background-color: #89C4F4;
}
.table-date--red {
  background-color: #F3565D;
}
.table-date--gray {
  background-color: #95a5a6;
}


/*Пункт 5.15*/
.chat-search {
  border-radius: 25px;
  padding-right: 33px;
  padding-left: 12px;
  border: 1px solid #c2cad8;
  height: 34px;
  outline: none;
}
.comment__avatar-right {
  margin-left: 20px;
}
.comment__avatar-left {
  margin-right: 20px;
}
.comment__arrow {
  display: block;
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.comment__arrow-right {
  top: 35px;
  right: 108px;
  border-left: 8px solid #F3565D;
}
.comment__arrow-left {
  left: 108px;
  border-right: 8px solid #1BBC9B;
  top: 188px;
}
.comment-text {
  background: #fafafa;
  padding: 5px;
  font-size: 12px;
  color: #333;
  position: relative;
}
.comment-text-right {
  text-align: right;
  border-right: 2px solid #F3565D;
  margin-bottom: 20px;
}
.comment-text-left {
  text-align: left;
  border-left: 2px solid #1BBC9B;
}
.person {
  background-color: #f8f9fa;
}
.person__time {
  font-size: 12px;
  font-weight: 400;
  opacity: .5;
  padding-right: 10px;
  color: #888;
}
.person__name {
  font-size: 13px;
  font-weight: 600;
  color: #5b9bd1;
}


/*fonts*/
.description {
  text-align: right;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: 300;
  color: #FFF;
  opacity: 1;
  line-height: 1.42857;
  margin-top: 0;
}
.big-font {
  color: #FFF;
  box-sizing: border-box;
  text-align: right;
  font-size: 34px;
  line-height: 36px;
  letter-spacing: -1px;
  margin-bottom: 0;
  font-weight: 300;
}
.user-name {
  color: #060606;
  font-weight: 600;
  font-size: 14px;
}
.state {
  text-transform: uppercase;
  font-size: 14px;
}
.state--disabled {
  color: #B8C0F5;
}
.title-small {
  color: #9eacb4;
  font-size: 13px;
  text-transform: none;
  font-weight: 400;
}
.fa-angle-down {
  color: #fff;
  position: absolute;
  top:7px;
  right: 7px;
  color: #fff;
}
.blue-back {
  background-color: #36c6d3;
  padding: 3px;
  color: #fff;
  font-size: 13px;
}
.action {
  font-size: 13px;
  padding: 2px 5px;
  background-color: #659be0;
  color: #fff;
}
.fa-diamond {
  color: #6b788b;
}
.fa-arrow-circle-o-up {
  color: #687991;
  font-size: 30px;
  opacity: .6;
}
